<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Recommender</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body style="background-color: white">
    <nav
      style="
        background-color: white;
        height: 40px;
        display: flex;
        flex-direction: row;
      "
    >
      <a href="{% url 'movie_list' %}" style="flex: none; margin-right: 15px"
        >Home</a
      >
      <a href="{% url 'add_movie' %}" style="flex: none; margin-right: 15px"
        >Add Movie</a
      >
      <label for="search" style="margin-right: 5px">Search: </label>
      <form
        method="get"
        action="{% url 'search_movies' %}"
        style="display: inline"
      >
        <input
          type="text"
          id="search"
          name="search"
          placeholder="Search by title..."
          style="height: 15px"
        />
        <button type="submit" style="height: 20px">Search</button>
      </form>
    </nav>

    {% block content %} {% endblock content %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".toggle-watched").click(function () {
          var button = $(this);
          var movieId = button.data("movie-id");
          $.ajax({
            url: "/toggle_watched/" + movieId + "/",
            type: "GET",
            success: function (response) {
              if (response.watched) {
                button.text("Watched");
              } else {
                button.text("Mark as Watched");
              }
            },
            error: function (xhr, status, error) {
              console.error("Error:", error);
            },
          });
        });
      });
    </script>

    {% block scripts %} {% endblock scripts %}
  </body>
</html>
